<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeLineStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D68BB8041D90CB3100A1C993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D68BB8201D90CB3100A1C993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D68BB82B1D90CB3100A1C993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
